.w-15 {
    width: 15%;
}
.w-30 {
    width: 30%;
}

hr {
    margin-top: 0rem !important;
}

.image-shadow {
    box-shadow: 0 2px 5px 1px rgba(0,0,0,.2);
    border-radius: 3px;
    border: none;
}

.bd-callout {
    padding: 1.25rem;
    margin-top: 5.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
}

.bd-callout-info {
    border-left-color: #5bc0de;
}